.Calendar {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.Calendar .current {
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
  color: rgb(239,248,249);
}

.Calendar .row {
  position: relative;
  top: -1.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.Calendar .row div {
  width: 20%;
}

.Calendar .row div.date {
  width: 60%;
}

.Calendar .previous, .Calendar .next {
  transform: translateY(2rem);
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

.Calendar .previous:hover, .Calendar .next:hover {
  color: white;
}

.Calendar .date {
  position: relative;
  top: -1rem;
  vertical-align: text-top;
}

.Calendar .date .days {
  color: rgb(239,248,249);
  font-weight: lighter;
  font-size: 1rem;
  top: -0.5rem;
  margin: 0rem 0rem;
}

.Calendar .next .tomorrow {
  position: relative;
  top: -0.5rem;
}

.Calendar .previous .yesterday {
  position: relative;
  top: -0.5rem;
}

.Calendar .date span {
  position: relative;
  font-size: 4rem;
  margin: 0rem 1.5rem;
  font-weight: 600;
  top: 1rem;
}
